{% extends 'header.html' %}

{% block head %}


<title>Insurance Charges Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Insurance charge Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">AGE</label>
                <input class="form-control" type="text" name="age" placeholder="Enter Age"/>
   
            </div>
            <div class="mb-3">
                <label class="form-label">SEX</label>
                <select class="form-control"  name="sex" placeholder="Enter sex ">
                    <option value="Male">
                        Male
                    </option>
                    <option value="Female">
                        Female
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">BMI</label>
                <input class="form-control" type="bmi" name="bmi" placeholder="Enter bmi"
                    placeholder="Enter Month" />

            </div>
            <div class="mb-3">
                <label class="form-label">CHILDREN</label>
                <input class="form-control" type="text" name="children" placeholder="Enter children"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">SMOKER</label>
                <select class="form-control" name="smoker" placeholder="Enter smoker"
                    required >
                    <option value="smoker">
                        Smoker
                    </option>

                    <option value="Non-smoker">
                        Non-smoker
                    </option>
                </select>
                    
            </div>

            
            <div class="mb-3">
                <label class="form-label">REGION</label>
                <select class="form-control" name="region" placeholder="Enter region"
                    required>

                    <option value="Southwest">
                        Southwest
                    </option>
                    <option value="Southeast">
                        Southeast
                    </option>
                    <option value="Northwest">
                        Northwest
                    </option>
                    <option value="Northeast">
                        Northeast
                    </option>
                </select>
            </div> 
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Insurance Charges" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              Insurance Charges
            </div>
            <div class="card-body">
        {% if context['insurance_data'] is not none %}
        <table class="table table-striped">
            <caption>Insurance charge Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['insurance_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td> charges </td>
                <td>
                    {{ context["charges"] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}